body {
	margin: 1% 1% 0 1.6%;
	background-image: url('images/background.png');
}

.block {
	padding: 2px 18px;
	background-color: #fff;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 7.6%;
}
